.HERMIONE{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(76, 223, 13);
    size: 5px;
}
.firstLady{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(238, 94, 5);
    size: 5px;
}
.MAMILLIUS{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(184, 235, 15);
    size: 5px;
}
.SecondLady{
    font-family:sans-serif;
    color: rgb(31, 43, 101);
    size: 5px;
}
.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}
.stagedirection{
    background-color: aqua;
    color: burlywood;
}
.stagedirection:hover{
    background-color: rgb(83, 188, 17);
    color: rgb(219, 11, 11);
    
}